.alerta{
    width: 65%;
    color: black;
    padding: 7px 5px;
    font-size: 20px;
    font-style: bold;
    margin-top: 10px;
    box-shadow: 0 0 160px rgb(143, 143, 143);
}
.simples{
    background-color: #f1f1f1ab;
    padding-bottom: 34px;
    margin-left: 50px ;
    box-shadow: 0 0 15px gray, -5px 0 gray;
    border-radius: 5px;
}
.simples2{
    background-color: rgb(100, 255, 139);
    padding-bottom: 34px;
    margin-left: 50px ;
    box-shadow: 0 0 15px gray, -5px 0 rgb(2, 136, 69);
    border-radius: 5px;
    
}
.simples3{
    background-color: rgb(255, 173, 173);
    padding-bottom: 34px;
    margin-left: 50px ;
    box-shadow: 0 0 15px gray, -5px 0 rgb(136, 22, 2);
    border-radius: 5px;
}
.simples4{
    background-color: rgb(253, 212, 137);
    margin-left: 50px ;
    box-shadow: 0 0 15px gray, -5px 0 rgb(133, 113, 1);
    border-radius: 5px;
   
}
.fechar{
    margin-left: 40em;
    opacity: 25%;
    
}
.message{
    align-content: center;
    
    margin-left: 30px;
}